<!DOCTYPE html>
<html>
<head>
	<title>Project name</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../static/css/pub.css">
	<link rel="stylesheet" href="../../static/css/index.css">
	<link rel="stylesheet" href="../../static/css/jquery-ui.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=
	"sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	<div class="banner">
		<div class="banner-container">
			<!-- 左侧home图标 -->
			<a href="index.html"><i class="fas fa-home banner-icon"></i></a>
			<!-- 右侧注销文字和图标 -->
			<a id="signout" href="login.html">
				<span>Sign out</span>
				<i class="fas fa-sign-out-alt banner-icon"></i>
			</a>
		</div>
	</div>
	<!-- 网页主体的容器div -->
	<div class="wrapper">
		<!-- 主体的右边栏 -->
		<div class="main-content">
		<div id="main-content-container">
		</div>
		</div>
		<!-- 主体的左边栏 -->
		<div class="sidebar">
			<div id="tabs" style="margin-left: 30px;">
				<ul>
					<li style="margin-left: 20px"><a href="#tabs-1" style="width: 100px; text-align: center;">Programs</a></li>
					<li style="float: right; margin-right: 20px"><a href="#tabs-2" style="width: 100px; text-align: center;">Modules</a></li>
				</ul>
				<div id="tabs-1">
					<a id="add_program" href="">Add program</a>
				</div>
				<div id="tabs-2">
					<a id="add_module" href="">Add module</a>
				</div>
			</div>
		</div>    
	</div>
	<div class="footer">
	</div>

	<!-- Place js at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity=
	"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity=
	"sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
$( function() {
	// jquery-ui绑定
	$( "#tabs" ).tabs();
	$( "#add_program" ).button();
	$( "#add_module" ).button();
	var all_info_json  = {{ data|safe }};
	// var all_info_json = JSON.parse(received_data);
	/*
	var all_info_json=
	{
		"programs":
		[
			{ "name":"program1",
			  "code":"ABCDE",
			  "location":"xxxxx",
			  "aim":[{"id":"1", "content":"aim_1_contents", "match":"1 2"}, {"id":"2", "content":"aim_2_contents", "match":"3"}],
			  "outcome":[{"id":"1", "content":"xxxx"}, {"id":"2", "content":"xxxx"}]
			},
			{ "name":"program2" , "code":"ABCDE", "location":"xxxxx"},
			{ "name":"program3" , "code":"ABCDE", "location":"xxxxx"}
		],
		"modules":
		[
			{ "name":"module1" , "code":"ABCDE", "location":"xxxxx"},
			{ "name":"module2" , "code":"ABCDE", "location":"xxxxx"},
			{ "name":"module3" , "code":"ABCDE", "location":"xxxxx"}
		]
	};
	*/
	
	add_item('#tabs-1', '#tabs-2', all_info_json);
} );

// 
function add_item(program_dom_id, module_dom_id, all_info_json){
	if ("programs" in all_info_json){
		for (var i = 0; i < all_info_json.programs.length; i++) {
			var program_json = all_info_json.programs[i];
			var $node = $("<p></p>").text(program_json.name);
			$node.css('cursor', 'pointer');
			$node.click(program_json, show_info);
			$(program_dom_id).prepend($node);
		}
	}
	if ("modules" in all_info_json){
		for (var i = 0; i < all_info_json.modules.length; i++) {
			var modules_json = all_info_json.modules[i];
			var $node = $("<p></p>").text(modules_json.name);
			$node.css('cursor', 'pointer');
			$node.click(modules_json, show_info);
			$(module_dom_id).prepend($node);
		}
	}
}

function show_info(e){
　　display_area = $("#main-content-container");
	display_area.empty();
	// show name
	var title = $("<h1></h1>").text(e.data.code+" "+e.data.name);
	title.css("font-family", "Times, TimesNR, Serif");
	display_area.append(title);
	var table = $("<table></table>").css({"border":"5px transparent", "table-layout":"fixed"});
	for (var o in e.data){
		// display non-array contents
		if (jQuery.type(e.data[o]) == "string") {
			if (o!="name" && o!="code") {
				var line = $("<tr></tr>");
				var left = $("<td></td>").text(o).css({"font-weight": "bold", "width":"100px", "margin-left":"10px", "background-color" : "#447d9d", "color":"#fff", "word-wrap":"break-word"});
				var right = $("<td></td>").text(e.data[o]).css({"word-wrap":"break-word"});
				line.append(left, right);
				table.append(line);
			}
		}
	}
	display_area.append(table);
}


</script>
	
	
</body>
</html>
