<!DOCTYPE html>
<html>
<head>
	<title>Project name</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../static/css/pub.css">
	<link rel="stylesheet" href="../../static/css/jquery-ui.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
	<div class="banner">
		<div class="banner-container">
			<!-- 左侧home图标 -->
			<a href="index.html"><i class="fas fa-home banner-icon"></i></a>
			<!-- 右侧注销文字和图标 -->
			<a id="signout" href="login.html">
				<span>Sign out</span>
				<i class="fas fa-sign-out-alt banner-icon"></i>
			</a>
		</div>
	</div>
	<!-- 网页主体的容器div -->
	<div class="wrapper">
		<!-- 主体的右边栏 -->
		<div class="main-content">
		</div>
		<!-- 主体的左边栏 -->
		<div class="sidebar">
			<div id="tabs" style="margin-left: 30px;">
				<ul>
					<li style="margin-left: 20px"><a href="#tabs-1" style="width: 100px; text-align: center;">Programs</a></li>
					<li style="float: right; margin-right: 20px"><a href="#tabs-2" style="width: 100px; text-align: center;">Modules</a></li>
				</ul>
				<div id="tabs-1">
					<p>programs list</p>
				</div>
				<div id="tabs-2">
					<p>modules list</p>
				</div>
			</div>
		</div>    
	</div>
	<div class="footer">
	</div>

	<!-- Place js at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity=
	"sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity=
	"sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<script src="../../static/js/index.js"></script>
</body>
</html>
